/* FOOTER */
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer.footer{
  background-color: var(--gray);
  color: var(--background);
  height: 12em;
}
footer.footer a img{
  height: 110px;
  width: 110px;
}
footer.footer hr {
    padding-top: 1rem;
    border: 0;
    width: 25%;
    border-top: 2px solid #EEDBD4;
}
footer.footer p{
  color: #EEDBD4;
}